#root1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 15px;
  background: rgba(237, 233, 233, 0.811);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.img-box {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.bottom {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
button {
  width: 60%;
  border: none;
  border-radius: 50px;
  padding: 7px 25px;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  color: rgb(154, 146, 146);
  font-weight: bold;
}
h3 {
  font-size: 17px;
  font-weight: bold;
}

@media (min-width: 768px) {
  #root1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn2 {
    width: 20%;
  }
  .navbar-toggler {
    max-width: 10%;
  }
}

@media (min-width: 2560px) {
  #root1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  #root1 {
    grid-template-columns: 1fr;
  }
  .box {
    width: 100%;
  }
  .btn2 {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  #root1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .box {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  #root1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn3 {
  width: 60%;
  border-radius: 25px;
  height: 38px;
  border: none;
  font-weight: bold;
}
.btn3:hover {
  background-color: white;
  border: 1px solid green;
  color: green;
}
.navbar-toggler {
  width: 20%;
}
footer a.text-white:hover {
  color: #ffc107 !important;
  text-decoration: underline;
}
.btn4 {
  width: 100%;
  font-weight: bold;
  transition: transform 0.4s ease, background-color 0.4s;
}
.btn4:hover{
  background-color: white;
  color: green;
  font-weight: bold;
  transform: scale(1.05);
}
/* Popup box style */
.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* start smaller */
  background-color: #198754; /* Green */
  color: #155724;      /* Dark green text */
  border: 1px solid #c3e6cb; /* Green border */
  padding: 15px 20px;
  z-index: 9999;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0; /* Invisible at first */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  font-weight: bold;
  font-size: 1.1rem;
  height:60px;
}

/* When popup is shown */
.popup.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1); /* zoom in */
}

/* When popup is hiding */
.popup.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9); /* zoom out */
}
#messageBox {
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center; /* લખાણ center */
  font-weight: bold;
  width: fit-content;
  margin: 20px auto 10px auto; /* top = 20px, bottom = 10px, horizontally center */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: fadeInOut 1.5s ease infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 1; }
}

.alert-success{
  background-color: #198754;
}
.alert-danger{
  background-color: #e7414c;
}
.alert-warning{
  background-color: #198754;
}